<!-- Week 5 - Learning Activity 1 - Step 2 -->

<!-- Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<!-- Message Block -->
<%- messages() %>

<!-- Errors Display -->
<!-- Week 4 - Team Activity - Step 4 -->
<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <% }) %>
    </ul>
<% } %>

<!-- Account Management Display -->
<!-- Assignment 5 - Task 3 -->
<div id="acct-management">
    <h2>Welcome <%= accountData.account_firstname %>!</h2>
    <a title="Click to update account" 
        href="/account/update/<%= accountData.account_id %>">Update Account Information</a>

<% if(accountData.account_type === "Admin" || accountData.account_type === "Employee") { %>
    <h3>Inventory Management</h3>
    <p>Click <a title="Click to manage inventory" href="/inv">Here</a> to manage inventory</p>
<% } %>
</div>
