<!-- Week 4 - Learning Activity 1 - Step 3 & 4 -->

<!-- Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<!-- Message Block -->
<%- messages() %>

<!-- Errors Display -->
<!-- Week 4 - Learning Activity 2 - Step 3 -->
<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <% }) %>
    </ul>
<% } %>

<!-- Account Registration Display -->
<form id="register-form" action="/account/register" method="post">
    <p>*All fields are required.</p>
    <label for="account_firstname">First Name:</label>
    <input type="text" name="account_firstname" id="account_firstname" required 
    value="<%= locals.account_firstname %>" pattern="^[a-zA-Z]+$">

    <label for="account_lastname">Last Name:</label>
    <input type="text" name="account_lastname" id="account_lastname" required 
    value="<%= locals.account_lastname %>" pattern="^[a-zA-Z]+$">

    <label for="account_email">Email Address:</label>
    <input type="email" name="account_email" id="account_email" required 
    value="<%= locals.account_email %>" placeholder="email@address.com" >

    <label for="account_password">Password:</label>
    <p>Password must be minimum of 12 characters and contain 1 capital letter, 1 number, and 1 special character</p>
    <input type="password" name="account_password" id="account_password" required 
    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">

    <input type="submit" id="reg-btn" value="Register">

</form>