<!-- Assignment 4 - Task 3 -->

<!-- Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<!-- Message Block -->
<%- messages() %>

<!-- Errors Display -->
<!-- Assignment 4 - Task 3 -->
<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <% }) %>
    </ul>
<% } %>

<!-- Add Inventory Display -->
<form id="add-inv-form" action="/inv/add-inventory" method="post">
    <p>*All fields are required.</p>

    <label for="inv_make">Make:</label> <!-- Letters Only -->
    <input type="text" name="inv_make" id="inv_make" required 
        value="<%= locals.inv_make %>" pattern="^[a-zA-Z]+$"> 

    <label for="inv_model">Model:</label>
    <input type="text" name="inv_model" id="inv_model" required 
        value="<%= locals.inv_model %>">

    <label for="inv_year">Year:</label> <!-- 4 Digit Number -->
    <input type="number" name="inv_year" id="inv_year" required
        value="<%= locals.inv_year %>" placeholder="YYYY" pattern="^\d{4}$"> 

    <label for="inv_description">Description:</label>
    <textarea name="inv_description" id="inv_description" required
        rows="5" cols="30" placeholder="Enter vehicle description."><%= locals.inv_description %></textarea>

    <label for="inv_image">Image Path:</label> <!-- Default No Image Path Provided -->
    <input type="text" name="inv_image" id="inv_image" required 
        value="/images/vehicles/no-image.png">

    <label for="inv_thumbnail">Thumbnail Path:</label> <!-- Default No Image Path Provided -->
    <input type="text" name="inv_thumbnail" id="inv_thumbnail" required 
        value="/images/vehicles/no-image-tn.png">

    <label for="inv_price">Price:</label> <!-- Number with 2 decimal places allowed -->
    <input type="number" name="inv_price" id="inv_price" required 
        value="<%= locals.inv_price %>" pattern="^\d+\.\d{0,2}$">

    <label for="inv_miles">Miles:</label> <!-- Numbers Only -->
    <input type="number" name="inv_miles" id="inv_miles" required 
        value="<%= locals.inv_miles %>" pattern="^\d+$">

    <label for="inv_color">Color:</label> <!-- Letters Only -->
    <input type="text" name="inv_color" id="inv_color" required 
        value="<%= locals.inv_color %>" pattern="^[a-zA-Z]+$">

    <label for="classification_id">Classification:</label>
    <%- classificationList %>

    <button type="submit">Add Inventory</button>
</form>
